/.deps
/0calc
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/lexer.c
/missing
/parser.c
/parser.h
/stamp-h1
/ylwrap


*.o

*.swp

*~
