/.deps
/0calc
/0calc2
/0calc-*.*.*.tar.gz
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/lexer.c
/missing
/parser.c
/parser.h
/parser2.c
/parser2.h
/stamp-h1
/ylwrap


*.o

*.swp

*~
